<div class="adduser-container">
    <div class="addUser-header">
        <p>Leute hinzufügen</p><img src="./../../assets/icons/close.png" alt="" (click)="dialogRef.close()">
    </div>
    <div class="flex-direction">
        <div class="d-flex">
          <input type="radio" name="options" (change)="selectedOption = 'channel'">
          Alle Mitglieder von <span class="channel-name">{{channel.channelName}}</span> hinzufügen
        </div>
        <div class="d-flex">
          <input type="radio" name="options" (change)="selectedOption = 'user'">
          Bestimmte Leute hinzufügen
        </div>
      </div>
      

      <div *ngIf="selectedOption === 'user'" class="user-select">
        <mat-form-field appearance="fill">
            <mat-label>Wählen Sie einen Benutzer</mat-label>
            <mat-select [(value)]="selectedUser">
                <mat-option *ngFor="let user of userData" [value]="user">{{user.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

      <button class="createBtn" [disabled]="!selectedOption" (click)="addUser(selectedOption?.toString()!)">Erstellen</button>
      
</div>