<div class="addUser-content">
  <div class="addUser-header">
    <p>Leute hinzufügen</p><img src="./assets/icons/close.png" alt="" (click)="dialogRef.close()">
  </div>
  <p style="color: rgba(121, 126, 243, 1);font-size: 18px;font-weight: 400;"># {{data?.channel?.channelName}}</p>

  <div class="custom-dropdown">
    <div class="dropdown-selected" (click)="toggleDropdown()" [ngClass]="{'selected-user': selectedUser}">
      <img *ngIf="selectedUser" [src]="getAvatarForUser(selectedUser.name)" alt="" class="slectedUserImg">
      <span>{{ selectedUser ? selectedUser.name : 'Name eingeben' }}</span>
      <img src="./assets/icons/close.png" alt="" *ngIf="selectedUser" (click)="removeSelectedUser($event)" class="closeBtn">
    </div>

    <ul *ngIf="dropdownOpen" class="dropdown-options">
      <li (click)="selectUser(user)" class="usersList" *ngFor="let user of userData">
        <img [src]="getAvatarForUser(user.name)" alt="">
        {{ user.name }}
      </li>
    </ul>

  </div>
  <button class="createBtn" [disabled]="!selectedUser" (click)="addMember(selectedUser)">Hinzufügen</button>
</div>