<div class="channel-container">
    <div class="channel-header">
        <div class="d-flex"><img src="./assets/icons/tag.png" alt="">
            <p>{{channel.channelName}}</p>
        </div>
        <img src="./assets/icons/close.png" alt="" (click)="dialogRef.close()" class="closebtn">
    </div>
    <div class="channel-name" [ngClass]="{ 'editing': isEditing }">
        <div class="d-flex">
            <div *ngIf="!isEditing">{{ channel.channelName }}</div>
            <button class="editBtn" (click)="isEditing ? editChannelName() : toggleInputName()"
                [ngClass]="{ 'a-self': isEditing }">
                {{ isEditing ? 'Speichern' : 'Bearbeiten' }}
            </button>
        </div>
        <input *ngIf="isEditing"  class="edit-input" type="text"
            [(ngModel)]="newChannelName" />
        <div *ngIf="!isEditing" style="display: flex; align-items: center;">
            <img src="./assets/icons/tag.png" alt="">
            <p>{{  channel.channelName }}</p>
        </div>
    </div>
    <div class="channel-description" [ngClass]="{ 'editing': isEditingDescription }">
        <div class="d-flex">
            <div>Beschreibung</div>
            <button class="editBtn" (click)="isEditingDescription ? saveChannelDescription() : toggleDescriptionEdit()">
                {{ isEditingDescription ? 'Speichern' : 'Bearbeiten' }}
            </button>
        </div>
        <input *ngIf="isEditingDescription" type="text" class="edit-textarea" placeholder="Beschreibung eingeben"
            [(ngModel)]="newChannelDescription" (keydown.enter)="saveChannelDescription()">
        
        <p *ngIf="!isEditingDescription" class="edit-description">
            {{ channel.channelDescription }}
        </p>
        <hr class="separate-line">

        <div style="display: flex;flex-direction: column;gap: 18px;">Erstellt von
            <div class="userName">{{channel.creatorName}}</div>
        </div>
    </div>
    <div *ngIf="this.sharedService.isMobile" class="members">
      
            <div class="members-header">Mitglieder<img src="./assets/icons/close.png" (click)="dialogRef.close()"></div>
            <ul class="users-menu">
                <li *ngFor="let member of channel.members" class="usersList" (click)="userService.openUserProfil(member); dialogRef.close()">
                    <img [src]="userService.getAvatarForUser(member.name)" alt=""
                        style="width: 50px; height: 50px; border-radius: 30px;">
                    <div [ngClass]="{'offline-point': !member.online}" class="online-point"></div>
                    {{ member.name }}
        
                </li>
            </ul>
            <div class="add-users" (click)="openDialogAddUser()"><img src="./assets/icons/person_add.png" alt=""> Mitglieder hinzufügen</div>
      
    </div>
    <button class="close-channel" (click)="dialogRef.close()">Channel verlassen</button>
</div>