<div class="thread-container">
    <div class="thread-header">
        <div>Thread <span style="font-family: Nunito;font-size: 14px;font-weight: 400;color: rgba(121, 126, 243, 1);">#
                Entwicklerteam</span></div>
        <img src="./assets/icons/close.png" alt="" (click)="closeThread()">
    </div>
    <div class="thread-content" >
        <div *ngFor="let message of allMessages" >
            <div class="message-main" [ngClass]="{'current-user':isCurrentUser(message.user)}">
                <img [src]="'./assets/avatars/avatar_'+ getAvatarForUser(message.user) + '.png'" alt="" class="avatar">
                <div class="message-content" [ngClass]="{'a-items': isCurrentUser(message.user)}">
                    <div class="name-time" [ngClass]="{'current-user':isCurrentUser(message.user)}">{{ message.user }} <p class="time">14:25Uhr</p>
                    </div>
                    <div class="speech-bubble" [ngClass]="{'b-radius': isCurrentUser(message.user)}"> {{ message.text }}</div>
                </div>
            </div>
            <div class="separator">
                <p class="label-answers">2 Antworten</p>
                <hr>
            </div>
        </div>
        <div class="custom-input">
            <textarea placeholder="Antworten..." class="text-area"></textarea>
            <div class="add-reaction">
                <div class="reactions">
                    <img src="./assets/icons/add-1.png" alt="" class="add-icon">
                    <div style="height: 50px;width: 1px;background-color:  rgba(104, 104, 104, 1);;"></div>
                    <img src="./assets/icons/sentiment_satisfied-1.png" alt="" class="add-emoji">
                    <img src="./assets/icons/alternate_email-1.png" alt="" class="add-mail">
                </div>
                <img src="./assets/icons/Send icon.png" (click)="sendMessage()" class="send-icon">
            </div>
        </div>
    </div>

</div>