<div class="thread-container">
    <div class="thread-header">
        <div>Thread
            <span style="font-family: Nunito; font-size: 14px; font-weight: 400; color: rgba(121, 126, 243, 1);">
                #{{channelName}}
            </span>
        </div>
        <img src="./assets/icons/close.png" alt="Close Thread" (click)="closeThread()">
    </div>

    <div class="thread-content">

        <!-- Main message section -->
        <div class="message-main" [ngClass]="{'current-user': isCurrentUser(message!.user)}">
            <img [src]="getAvatarForUser(message!.user)" alt="Avatar" class="avatar">
            <div class="message-content" *ngIf="!message?.isEditing" [ngClass]="{'a-flex': isCurrentUser(message!.user)}">
                <div class="name-time" [ngClass]="{'current-user': isCurrentUser(message!.user)}">
                    {{ message?.user }}
                    <p class="time">{{ message?.formatTimestamp() }}</p>
                </div>
                <div class="speech-bubble" [ngClass]="{'border-radius': isCurrentUser(message!.user)}">
                    {{ message?.text }}
                </div>
            </div>
            <div class="reaction-hover" [ngClass]="{'reaction-left': isCurrentUser(message!.user)}"
                *ngIf="!message!.isEditing">
                <img src="./assets/icons/add_reaction.png" alt="">
            </div>
        </div>

        <!-- Separator and answer count -->
        <div class="separator">
            <p class="label-answers" *ngIf="selectedAnswers.length > 0">
                {{ selectedAnswers.length }} Antworten
            </p>
            <hr>
        </div>

        <!-- Answer list -->
        <div class="message-main" [ngClass]="{'current-user': isCurrentUser(answer.user)}"
            *ngFor="let answer of selectedAnswers">
            <img [src]="getAvatarForUser(answer.user)" alt="Avatar" class="avatar">
            <div class="message-content" *ngIf="!answer.isEditing" [ngClass]="{'a-flex': isCurrentUser(answer.user)}">
                <div class="name-time" [ngClass]="{'current-user': isCurrentUser(answer.user)}">
                    {{ answer.user }}
                    <p class="time">{{ answer.formatTimestamp() }}</p>
                </div>
                <div class="speech-bubble" [ngClass]="{'border-radius': isCurrentUser(answer.user)}">
                    {{ answer.text }}
                </div>
            </div>
            <div class="reaction-hover"  *ngIf="!answer.isEditing" [ngClass]="{'reaction-left': isCurrentUser(answer.user)}">
                <img src="./assets/icons/add_reaction.png" alt="">
                <img src="./assets/icons/more_vert.png" alt="" *ngIf="isCurrentUser(answer.user)"
                (click)="editDirectMessage(answer)">
            </div>
            <div *ngIf="answer.isEditing" class="textAreaContainer" >
                <textarea [(ngModel)]="answer.editedText" class="textEditingArea">
                </textarea>
                <div class="button-icons-group">
                    <div class="button-group">
                        <button class="cancelBtn" (click)="cancelEditAnswer(answer)">Abbrechen</button>
                        <button class="saveBtn" (click)="saveEditAnswer(answer)">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Input for new answers -->

        <div class="custom-input">
            <textarea placeholder="Antworten..." class="text-area" [(ngModel)]="newAnswerText"></textarea>
            <div class="add-reaction">
                <div class="reactions">
                    <img src="./assets/icons/add-1.png" alt="Add" class="add-icon">
                    <div style="height: 50px; width: 1px; background-color: rgba(104, 104, 104, 1);"></div>
                    <img src="./assets/icons/sentiment_satisfied-1.png" alt="Emoji" class="add-emoji">
                    <img src="./assets/icons/alternate_email-1.png" alt="Email" class="add-mail">
                </div>
                <img src="./assets/icons/Send icon.png" alt="Send" class="send-icon"
                    (click)="addAnswer(message!.messageId)">
            </div>
        </div>
    </div>


</div>