.login-container {
    width: 100%;
}

app-signin, app-signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    > a {
        font-size: 18px;
        color: #797EF3;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            font-weight: 700;
        }
    }
}

