<div class="login-container">
    @if (!signUp && !password) {
        <app-signin [signUp]="signUp" (signUpChange)="onSignUpChange($event)" (passwordChange)="onPasswordChange($event)"></app-signin>
    }
    @if (!signUp && password) {
        <app-password-main (switchToSignin)="handleSwitchToSignin()"></app-password-main>
    } 
    @if (signUp) {
        <app-signup (switchToSignin)="handleSwitchToSignin()"></app-signup>  
    } 
</div>
<div class="login-footer">
    <a href="#">Impressum</a><a href="#">Datenschutz</a>
</div>