<div class="header-content">
    <div class="logo">
        <img src="../../../assets/icons/Logo.svg" alt="">
        <p>DABubble</p>
    </div>
    <div class="input">
        <input id="search" type="text" placeholder="Devspace durchsuchen" (input)="onSearchInput($event)">
        <img src="../../../assets/icons/search-2.png" alt="">
    </div>
    <div class="header-user">
        <p>Frederick Beck</p>
        <img src="../../../assets/avatars/avatar_1.png" alt="">
        <img (click)="openDialogLogout()" class="header-menu" src="../../../assets/icons/keyboard_arrow_down_1.png" alt="">
    </div>
</div>
