<div class="channel-container">
    <div class="channel-header">
        <button class="edit-channel" (click)="openDialogEditChannel()">
            <p># {{channel.channelName}}</p>
            <img src="./assets/icons/keyboard_arrow_down_1.png" alt="">
        </button>
        <div class="add-members">
            <div class="member-preview">
                <img [src]="'./assets/avatars/avatar_' + user.avatar +'.png'" alt="" class="avatar"
                    *ngFor="let user of userData">
                <p>{{userCount}}</p>
            </div>
            <button class="addUserBtn" (click)="openDialogAddUser()">
                <img src="./assets/icons/person_add.png" alt="">
            </button>
        </div>
    </div>
    <div class="channel-content">

    </div>
    <input class="message-box" placeholder="Nachricht an #{{channel.channelName}}">
</div>