<div class="channel-container">
    <div class="channel-header">
        <button class="edit-channel" (click)="openDialogEditChannel()">
            <p># {{channel.channelName}}</p>
            <img src="./assets/icons/keyboard_arrow_down_1.png" alt="">
        </button>
        <div class="add-members">
            <div class="member-preview">
                <img [src]="'./assets/avatars/avatar_' + user.avatar +'.png'" alt="" class="avatar"
                    *ngFor="let user of userData">
                <p>{{userCount}}</p>
            </div>
            <button class="addUserBtn" (click)="openDialogAddUser()">
                <img src="./assets/icons/person_add.png" alt="">
            </button>
        </div>
    </div>
    <div class="channel-content">
        <table class="chat-table">
            <tr >
                <td style="display: flex;flex-direction: column;height: 192px;">
                </td>
                <hr class="separator-line">
            </tr>
            <tr *ngFor="let message of allMessages">

                <td >
                   <img [src]="'./assets/avatars/avatar_'+ getAvatarForUser(message.user) + '.png'" alt="" style="width: 70px;height: 70px;border-radius: 40px;">
                   <div style="display: flex;flex-direction: column;">
                    <strong >  {{ message.user }}</strong> {{ message.text }}
                   </div>
                  
                </td>
                <hr class="separator-line">
            </tr>
        </table>
    </div>

    <input class="message-box" placeholder="Nachricht an #{{channel.channelName}}">
</div>