.channel-container {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 30px;
    height: 940px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 111;
}

.channel-header {
    width: auto;
    height: 96px;
    padding: 25px 45px;
    box-shadow: 0px 2px 10px 0px #00000014;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit-channel {
        border: unset;
        background-color: unset;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 45px;
        border-radius: 100px;
        padding: 6px 10px;
        gap: 16px;

        p {
            margin: 0;
        }

        &:hover {
            background: #ECEEFE;
            color: #535AF1;
            cursor: pointer;

            img {
                content: url('./../../../assets/icons/expand_more_1.png');
                cursor: pointer;
            }
        }
    }

    .add-members {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 2px solid #FFFFFF;
            margin-left: -25px;
            cursor: pointer;
        }

        .addUserBtn {
            border: unset;
            background: #ECEEFE;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            padding: 8px;
            gap: 10px;

            img {
                width: 24px;
                height: 24px;

                &:hover {
                    content: url('./../../../assets/icons/person_add_hover.png');
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
        }
    }
}

.numberofmembers {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;

    &:hover {
        color: #535AF1;
    }
}

.member-preview {
    width: auto;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 30px;
    padding: 0 12px 0 30px;

    &:hover {
        color: #535AF1;
        background: #ECEEFE;
        padding: 0 12px 0 30px;
    }
}

.speech-bubble {
    font-family: Nunito;
    width: auto;
    height: 55px;
    padding: 15px;
    gap: 8px;
    border-radius: 0px 30px 30px 30px;
    background: rgba(236, 238, 254, 1);
    font-size: 18px;
    font-weight: 400;
}

.channel-content {
    width: 100%;
    overflow-y: scroll;
    height: 500px;
    scrollbar-width: none;

    .chat-table {
        width: 100%;
        border-spacing: 0;

        td {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 100%;
            transition: background-color 0.5s ease-in-out;
            margin: 30px 0;
            position: relative;
            height: 200px;
            padding: 20px 0;

            &:hover {
                background-color: rgb(236, 238, 254);
                color: black;
            }
        }

        .message-main {
            display: flex;
            gap: 16px;
            height: 192px;
            margin: 20px 0;
            padding: 25px 45px;
            width: 100%;
        }

        .message-content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .name-time {
                font-size: 18px;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .time {
                font-size: 14px;
                font-weight: 400;
                color: rgba(104, 104, 104, 1);
                margin: 0;
            }



            .label-answers {
                display: flex;
                align-items: center;
                gap: 16px;
                font-size: 18px;
                font-weight: 400;
                color: rgba(83, 90, 241, 1);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .separator-line {
        width: auto;
        height: 0;
        border: 1px solid rgba(173, 176, 217, 1)
    }
}

.reaction-hover {
    display: none;
    width: 210px;
    height: 46px;
    border-radius: 25px 25px 0 25px;
    padding: 3px 20px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(173, 176, 217, 1);
    position: absolute;
    right: 16px;
    top: -16px;
}

td:hover .reaction-hover {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        border-radius: 30px;
        width: 20px;
        height: 20px;
        padding: 8px;

        &:hover {
            cursor: pointer;
            background: #ECEEFE;
        }
    }
}

td:hover .speech-bubble {
    background-color: #FFFFFF !important;
    color: black;
}

.day-time-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 35px;
    border-radius: 30px;
    padding: 5px 15px;
    border: 1px solid rgba(173, 176, 217, 1);
    background: rgba(255, 255, 255, 1);
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

//Nachricht Box
.custom-input {
    position: absolute;
    bottom: 20px;
    height: 145px;
    width: -webkit-fill-available;
    border-radius: 20px;
    margin: 0 20px;
    gap: 8px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(173, 176, 217, 1);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-area {
        border: unset;
        font-family: nunito;
        font-size: 18px;
        font-weight: 400;
        height: 100%;
        min-height: 20px;
        overflow-y: scroll;
        scrollbar-width: none;
        margin: 20px;
        max-width: -webkit-fill-available;

        &:focus {
            outline: none;
            border: none;
        }
    }
}

.add-reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.reactions {
    display: flex;
    align-items: center;
    gap: 16px;
    filter: opacity(0.5);
    border-radius: 30px;
    cursor: pointer;

    img {
        display: inline-block;
        transition: transform 0.3s ease, background 0.3s ease;
        vertical-align: middle;
        border-radius: 40px;
        width: 30px;
    }

    .add-icon:hover,
    .add-emoji:hover,
    .add-mail:hover {
        transform: scale(1.2);
        background: rgba(236, 238, 254, 1);
    }

    .add-icon:hover {
        content: url('./../../../assets/icons/add-2.png');
    }

    .add-emoji:hover {
        content: url('./../../../assets/icons/sentiment_satisfied-2.png');
    }

    .add-mail:hover {
        content: url('./../../../assets/icons/alternate_email-2.png');
    }
}

.send-icon {
    cursor: pointer;

    &:hover {
        filter: contrast(0.5)
    }
}

.current-user {
    flex-direction: row-reverse;
}

.reaction-left {
    left: 16px;
}

.b-radius {
    border-radius: 30px 0px 30px 30px;
    background: #797EF3;
    color: #FFFFFF
}

td:hover .b-radius {
    background-color: #797EF3 !important;
    color: #FFFFFF
}

.message-edit-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.edit-text-message {
    position: absolute;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.button-icons-group {
    position: absolute;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
        margin: 0 8px;
        width: 30px;
        height: 30px;
        border-radius: 30px;

        &:hover {
            cursor: pointer;
            background: #ECEEFE;
            content: url('./../../../assets/icons/sentiment_satisfied-2.png');
        }
    }

    .button-group {
        display: flex;
        padding: 0 8px;
        gap: 16px;

        button {
            width: 141px;
            height: 49px;
            border-radius: 50px;
            padding: 12px 25px;
            cursor: pointer;
            border: unset;
        }

        .saveBtn {
            background: rgba(68, 77, 242, 1);
            color: rgba(255, 255, 255, 1);
        }

        .cancelBtn {
            border: 1px solid rgba(121, 126, 243, 1);
            color: rgba(68, 77, 242, 1);
            background-color: rgba(255, 255, 255, 1);

        }
    }
}

.textAreaContainer {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 170px;
    background-color: #ECEEFE;
}

.textEditingArea {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    border-radius: 20px;
    resize: none;
    box-sizing: border-box;
}

emoji-mart {

    background-color: white;
    width: 350px;
    height: 350px;
    z-index: 1111;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
}

.channel-template-header {
    width: auto;
    height: 96px;
    padding: 25px 45px;
    box-shadow: 0px 2px 10px 0px #00000014;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .inputChannel {
        border-radius: 30px;
        height: 25px;
        padding: 15px 20px;
        border: 1px solid rgba(173, 176, 217, 1);
        outline: none;

        &:focus {
            border-color: rgba(68, 77, 242, 1);
        }
    }
}