<div style="display: flex; align-items: center; gap: 16px;">
    <div class="channel-container" *ngIf="selectedChannel else loadingTemplate">
        <div class="channel-header">
            <button class="edit-channel" (click)="this.sharedService.openDialogEditChannel(selectedChannel)">
                <p># {{selectedChannel.channelName}}</p>
                <img src="./assets/icons/keyboard_arrow_down_1.png" alt="">
            </button>
            <div class="add-members">
                <div class="member-preview" (click)="openUsersList(selectedChannelId!)">
                    <img *ngFor="let member of selectedChannel.members" [src]="getAvatarForUser(member.name)" alt=""
                        class="avatar">
                </div>
                <p *ngIf="selectedChannel.members.length>0" class="numberofmembers">{{selectedChannel.members.length}}
                </p>
                <button class="addUserBtn" (click)="openDialogAddUser()">
                    <img src="./assets/icons/person_add.png" alt="">
                </button>
            </div>
        </div>
        <div class="channel-content">
            <table class="chat-table">
                <tr>
                    <td style="height: 50px;"></td>
                </tr>
                <ng-container *ngFor="let group of allMessages">
                    <tr>
                        <td colspan="2">
                            <div style="position: relative; width: 100%;margin:0 75px">
                                <hr class="separator-line">
                                <button class="day-time-btn">{{ group.date }}</button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let message of group.messages">
                        <td [ngClass]="{'current-user': isCurrentUser(message.user)}">
                            <div class="message-main" [ngClass]="{'current-user': isCurrentUser(message.user)}">
                                <img [src]="getAvatarForUser(message.user)" alt="" class="avatar">
                                <div class="message-content" *ngIf="!message.isEditing">
                                    <div class="name-time" [ngClass]="{'current-user': isCurrentUser(message.user)}">
                                        {{ message.user }}
                                        <p class="time">{{ message.formatTimestamp() }}</p>
                                    </div>
                                    <div class="speech-bubble" [ngClass]="{'b-radius': isCurrentUser(message.user)}">
                                        {{ message.text }}
                                    </div>
                                    <div class="label-answers" (click)="openThread(message)"
                                        *ngIf="message.answers.length > 0">
                                        {{ message.answers.length }} Antworten
                                        <p class="time">Letzte Antwort {{message.getLastAnswerTimestamp()}} </p>
                                       
                                    </div>
                                </div>
                                <div *ngIf="message.isEditing" class="textAreaContainer">
                                    <textarea [(ngModel)]="message.editedText" class="textEditingArea">
                                    </textarea>
                                    <div class="button-icons-group">
                                        <img src="./assets/icons/sentiment_satisfied-1.png" alt="" (click)="toggleEmojiPicker()">
                                        <div class="button-group">
                                            <button (click)="cancelMessageEdit(message)"
                                                class="cancelBtn">Abbrechen</button>
                                            <button (click)="saveMessageEdit(message)"
                                                class="saveBtn">Speichern</button>
                                        </div>
                                    </div>
                                </div>
                                <emoji-mart *ngIf="showEmojiPicker && message.isEditing" 
                                (emojiSelect)="addEmojiToEditMessage($event, message)">
                    </emoji-mart>
                    
                            </div>
                            <div class="reaction-hover" [ngClass]="{'reaction-left': isCurrentUser(message.user)}"
                                *ngIf="!message.isEditing">
                                <img src="./assets/icons/🦆 emoji _white heavy check mark_.png" alt="">
                                <img src="./assets/icons/🦆 emoji _person raising both hands in celebration_.png"
                                    alt="">
                                <img src="./assets/icons/add_reaction.png" alt="" >
                                <img src="./assets/icons/comment.png" alt="" (click)="openThread(message)">
                                <img src="./assets/icons/more_vert.png" alt="" *ngIf="isCurrentUser(message.user)"
                                    (click)="editDirectMessage(message)">
                                </div>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>

        <div class="custom-input">
            <textarea placeholder="Nachricht an #{{selectedChannel.channelName}}" class="text-area"
                [(ngModel)]="newMessageText"></textarea>
            <div class="add-reaction">
                <div class="reactions">
                    <img src="./assets/icons/add-1.png" alt="" class="add-icon">
                    <div style="height: 35px;width: 1px;background-color:  rgba(104, 104, 104, 1);;"></div>
                    <img src="./assets/icons/sentiment_satisfied-1.png" alt="" class="add-emoji"  (click)="toggleEmojiPicker()">
                    <img src="./assets/icons/alternate_email-1.png" alt="" class="add-mail">
                </div>
                <emoji-mart *ngIf="showEmojiPicker && !message.isEditing" (emojiSelect)="addEmojiToNewMessage($event)"></emoji-mart>
                <img src="./assets/icons/Send icon.png" (click)="sendMessage()" class="send-icon">
            </div>
        </div>


    </div>
    <ng-template #loadingTemplate>
        <div class="channel-container">
            <div class="channel-template-header">
                <p style=" font-size: 24px; font-weight: 700;">Neue Nachricht</p>
                <input class="inputChannel" type="text" placeholder="An #channel, oder @jemand oder E-Mail Adresse">
            </div>
            <div class="custom-input">
                <textarea placeholder="Starte eine neue Nachricht" class="text-area"
                    [(ngModel)]="newMessageText"></textarea>
                <div class="add-reaction">
                    <div class="reactions">
                        <img src="./assets/icons/add-1.png" alt="" class="add-icon">
                        <div style="height: 35px;width: 1px;background-color:  rgba(104, 104, 104, 1);"></div>
                        <img src="./assets/icons/sentiment_satisfied-1.png" alt="" class="add-emoji">
                        <img src="./assets/icons/alternate_email-1.png" alt="" class="add-mail">
                    </div>
                    <img src="./assets/icons/Send icon.png" (click)="sendMessage()" class="send-icon">
                </div>
            </div>
        </div>
    </ng-template>

    <app-thread *ngIf="isThreadOpen" 
                [selectedChannelId]="selectedChannelId"
                [channelName]="selectedChannel?.channelName" 
                [message]="selectedMessage" 
                [selectedAnswers]="selectedAnswers"
                (threadClosed)="onThreadClosed()">
    </app-thread>
</div>