<div class="login-header">
    <div class="logo">
        <img src="../../../assets/icons/Logo.svg" alt="">
        <p>DABubble</p>
    </div>
    <div class="gotoregister">
        <p>Neu bei DABubble?</p>
        <a (click)="goToSignUp()">Konto erstellen</a>
    </div>
</div>
<div class="login-content">
    <h1>Anmeldung</h1>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <form #ngForm="ngForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        
        
        
        <div class="input">
            <img [ngStyle]="{'width': '20px'}" src="../../assets/icons/login-mail.svg" alt="">
            <input 
                name="mailInput" 
                [(ngModel)]="user.mail" 
                #mailInput 
                required 
                placeholder="beispielname@email.com" 
                [placeholder]="validMail ? 'beispielname@email.com' : 'Die Mailadresse wurde nicht gefunden!'"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                [ngClass]="{'placeholder-error': !validMail}" />
        </div>



        <div class="input">
            <img [ngStyle]="{'width': '16px'}" src="../../assets/icons/login-lock.svg" alt="">
            <input name="passwordInput" 
            [(ngModel)]="user.password" 
            required 
            placeholder="Passwort" 
            [placeholder]="validPassword ? 'Passwort' : 'Falsches Passwort!'"
            [ngClass]="{'placeholder-error': !validPassword}"
            type="password" />
        </div>




        <a (click)="goToPasswordReset()">Passwort vergessen?</a>
        <div class="divider">
            <div class="line"></div>
            <p>ODER</p>
            <div class="line"></div>
        </div>



        <div class="submit-area">

            <button class="google-button" type="button" (click)="googleLogin()">
                <img src="../../assets/icons/Google.svg" alt="">
                <p>Anmelden mit Google</p>
            </button> 

            <div class="login-buttons">
                <button class="login-button" (click)="onSubmit(ngForm)">Anmelden</button>
                <button class="login-button guest" (click)="guestLogin()">Gäste-Login</button>
            </div>
        </div>


    </form>
</div>

