<div class="channel-users">
    <div class="members-header">Mitglieder<img src="./assets/icons/close.png" (click)="dialogRef.close()"></div>
    <ul class="users-menu">
        <li *ngFor="let member of channel.members" class="usersList" (click)="openUserProfil(member)">
            <img [src]="'./assets/avatars/avatar_' + member.avatar + '.png'" alt=""
                style="width: 50px; height: 50px; border-radius: 30px;">
            <div [ngClass]="{'offline-point': !member.online}" class="online-point"></div>
            {{ member.name }}

        </li>
    </ul>
    <div class="add-users"><img src="./assets/icons/person_add.png" alt=""> Mitglieder hinzufügen</div>
</div>